body, html {
    height: 100%;
}

body {
    font-family: Jost, sans-serif;
    font-weight: 400;
    margin: 0;
}

p, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.page-container {
    background-color: #2B2C3A;
    mix-blend-mode: normal;
}

.page-container__gradient {
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.page-container__main {
    flex-grow: 1;
}

.page-container__aside {
    background: rgba(156, 165, 236, 0.04);
    flex-basis: 280px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    border-bottom: 1px solid rgba(216, 216, 216, .1);
    padding-bottom: 18px;
}

.header__red-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: #FF4738;
    border-radius: 4px;
    box-shadow: 0 0 12px rgba(255, 71, 56, 0.5);
    margin-left: 3px;
}

.header__profile {
    display: flex;
    font-family: Jost, sans-serif;
    align-items: center;
}

.header__nav {
    padding-top: 31px;
    padding-left: 55px;
    padding-right: 45px;
}

.header__nav-item {
    color: #FFF;
    opacity: 0.6;
    font-family: Jost, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    margin-right: 28px;
}

.header__profile-stat-wrapper {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 5px;
    margin-top: 24px;
    margin-right: 10px;
}

.header__profile-stat {
    color: #FFF;
    font-size: 13px;
    line-height: 10px;
    padding: 7px 9px;
}

.header__profile-stat-span {
    font-family: Jost, sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
}

.header__profile-stat_m {
    padding: 7px 9px;
}

.header__profile-stat_s {
    padding-top: 7px;

}

.header__profile-stat_b {
    padding-right: 9px;
    padding-left: 10px;
}

.header__profile-stat_text-style_dull {
    color: rgba(255,255,255, 0.6);
    font-size: 11px;
}

.thunder-icon {
    height: 12px;
    width: 7px;
}

.header__profile-info-container {
    display: flex;
    padding-top: 14px;
}

.header__profile-info {
    padding-left: 13px;
    padding-top: 2px;
}

.header__profile-name {
    font-size: 14px;
    line-height: 10px;
    color: #FFF;
}

.header__profile-status {
    color: #24CB8D;
    font-weight: 600;
    line-height: 10px;
    margin-top: 3px;
    position: relative;
    padding-left: 11px;
    font-size: 13px;
}

.header__profile-status::before {
    content: '';
    display: inline-block;
    background-color: #24CB8D;
    height: 6px;
    width: 6px;
    top: 2px;
    left: 0;
    border-radius: 50%;
    position: absolute;
}

.header__profile-user {
    display: flex;
    padding-top: 6px;
}

.header__profile-level {
    font-size: 11px;
    line-height: 10px;
    text-transform: uppercase;
    margin-left: 15px;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
    border-radius: 4px;
    padding: 2px 11px 2px 8px;
    color: #FFF;
}

.leftbar {
    width: 280px;
    position: fixed;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.leftbar__header {
    border-bottom: 1px solid rgba(216, 216, 216, .1);
}

.leftbar__header-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    text-transform: uppercase;
    margin: 0;
    color: #FFF;
    padding-top: 33px;
    padding-bottom: 11px;
    position: relative;
    padding-left: 30px;
}

.leftbar__header-year {
    position: absolute;
    font-weight: 500;
    font-size: 11px;
    line-height: 15.5px;
    bottom: 37px;
    right: 115px;
}

.leftbar__header-logo {
    position: absolute;
    left: 30px;
    bottom: 40px;
}

.leftbar__main-container {
    padding: 30px 30px 20px 30px;
}

.leftbar__main {
    border-bottom: 1px solid rgba(216, 216, 216, .06);
    padding-bottom: 20px;
}

.leftbar__item-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    color: #FFF;
    text-transform: uppercase;
    position: relative;
}

.leftbar__item-arrow {
    background-image: url("images/arrow.svg");
    display: inline-block;
    background-repeat: no-repeat;
    height: 6px;
    width: 10px;
    position: absolute;
    right: 0;
    bottom: 7px;
    transition: transform linear .2s;
}

.leftbar__item-arrow_closed {
    transform: rotate(180deg);
}

.leftbar__item {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    flex-direction: column;
}

.leftbar__item:first-of-type {
    margin-top: 0;
}

.leftbar__item-menu {
    display: flex;
    color: #FFF;
    flex-direction: row;
    mix-blend-mode: normal;
    margin-left: -30px;
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: -30px;
    box-sizing: border-box;
}

.leftbar__item-menu:hover > .leftbar__item-menu-link {
    color: #FFF;
    opacity: 1;
}

.leftbar__item-menu-container {
    padding-top: 18px;
    height: 300px;
    opacity: 1;
    transition: height linear 0.3s, opacity linear 0.3s;
}

.leftbar__item-menu-container_hidden {
    visibility: hidden;
    height: 0;
    padding: 0;
    opacity: 0;
}

.leftbar__item-menu_type_active {
    border: 3px;
    color: #FFF;
    border-left: 3px solid #6F6EFF;
    background: linear-gradient(135deg, rgba(255,255,255, 0.03) 0%, rgba(255,255,255, 0.03) 93.97%);
}

.leftbar__item-menu-link {
    opacity: 0.5;
    margin-left: 24px;
}

.leftbar__item-menu-link_type_active {
    opacity: 1;
}

.leftbar__item-menu-icon {
    height: 18px;
    width: 18px;
}

.leftbar__item-menu:hover > .leftbar__item-menu-icon > path {
    fill: #6F6EFF;
    opacity: 1;
    transition: fill linear 0.2s;
}

.leftbar__mailing {
    display: flex;
    margin-top: 146px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.leftbar__mailing-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
    color:rgba(255, 255, 255, 0.5)
}

.checkbox-label {
    cursor: pointer;
    display: flex;
    border-radius: 15px;
    height: 22px;
    width: 42px;
    border: 1px solid rgba(255,255,255,0.2);
    justify-content: flex-start;
    position: relative;
}

.checkbox {
    display: none;
}

.slider {
    border-radius: 9999px;
    width: 16px;
    height: 16px;
    background: rgba(255,255,255, 0.5);
    box-shadow: 0 0 12px rgba(111, 110, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left linear .2s;
}

.checkbox:checked + .slider {
    background: #6F6EFF;
    left: 22px;
}

.checkbox:checked + .checkbox-label {
    justify-content: flex-end;
}

.main {
    padding: 40px 55px 60px 55px;

}

.content-block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-block__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFF;
}

.content-block__title-desc {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(255,255,255, .35);
    margin-bottom: 7px;
}

.content-block__control {
    display: flex;
}

.control-elements {
    display: flex;
    column-gap: 5px;
}

.control-element {
    display: flex;
    width: 30px;
    box-sizing: border-box;
    border: 1px solid rgba(255,255,255, .15);
    justify-content: center;
    align-items: center;
}

.content-block__control-btn-wrap {
    margin-right: 10px;
}

.btn_primary {
    border: 0;
    background: linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
    border-radius: 4px;
    color: #FFF;
}

.btn_s {
    padding: 7px 12px 6px 13px;
    font-size: 12px;
    line-height: 17px;
}

.btn_m {
    padding: 10px 19px 10px 18px;
    font-size: 13px;
    line-height: 10px;
}

.arrow-primary_left {
    transform: rotate(270deg);
}

.arrow-primary_right {
    transform: rotate(90deg);
}

.content-block-container {
    max-width: 1125px;
}

.content-block__main {
    padding-top: 25px;
}

.content-block {
    padding-bottom: 60px;
}

.lection-cards {
    display: flex;
    column-gap: 35px;
    height: 294px;
    overflow: auto;
}

.lection-card {
    width: 255px;
    background: rgba(255,255,255, .04);
    mix-blend-mode: normal;
    border-radius: 6px;
}

.lection-card__info {
    min-height: 232px;
    border-bottom: 1px solid rgba(216, 216, 216, 0.1);
    position: relative;
}

.lection-card__title {
    padding-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    color: #FFF;
    padding-left: 15px;
    padding-right: 15px;
}

.lection-card__desc {
    padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, .5);
    padding-left: 15px;
    padding-right: 15px;
}

.lection-card__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15px 15px 15px;
}

.lection-card__date {
    font-size: 13px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0;
    color: #FFF;
}

.lection-card__type-wrapper {
    position: absolute;
    padding-top: 15px;
    padding-left: 15px;
}

.lection-card__type {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    background: #6F6EFF;
    color: #FFF;
    border-radius: 3px;
    padding: 4px 5px 4px 6px;
}

.lection-card__thumbnail {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
