@font-face {
    font-family: 'Jost';
    src:
            url("Jost/Jost-400-Book.woff") format("woff"),
            url("Jost/Jost-400-Book.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Jost';
    src:
            url("Jost/Jost-500-Medium.woff") format("woff"),
            url("Jost/Jost-500-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Jost';
    src:
            url("Jost/Jost-600-Semi.woff") format("woff"),
            url("Jost/Jost-600-Semi.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Jost';
    src:
            url("Jost/Jost-700-Bold.woff") format("woff"),
            url("Jost/Jost-700-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}